﻿@* PRIJAVA ************************************************************************* *@
<div class="container" id="divPrijava">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div>
                <h2 class="text-center">Prijava</h2>
            </div>
            <form method="post" action="post/" class="form-horizontal " id="formPrijava">
                <div class="form-group ">
                    <label for="priEmail" class="col-sm-4 control-label">Korisnicko ime:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="priEmail" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="priLoz" class="col-sm-4 control-label">Lozinka:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="password" id="priLoz" required />
                    </div>
                </div>
                <div class="form-group">

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-3 center-block">
                        <button type="submit" class="btn btn-default"> Prijava </button>
                    </div>

                    <div class="col-sm-3">
                        <button type="button" class="btn btn-default btn-warning" id="btnRegistracija"> Registracija </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* REGISTRACIJA ************************************************************************* *@
<div class="container hidden" id="divRegistracija">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div>
                <h2 class="text-center">Registracija</h2>
            </div>
            <form method="post" action="post/" class="form-horizontal" id="formRegistracija">
                <div class="form-group">
                    <label for="regEmail" class="col-sm-4 control-label">Korisnicko ime</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="regEmail" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="regLoz" class="col-sm-4 control-label">Lozinka</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="regLoz" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="regLoz2" class="col-sm-4 control-label">Ponovite lozinku</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="regLoz2" required />
                    </div>
                </div>
                <div class="form-group">

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4 center-block">
                        <button type="submit" class="btn btn-default"> Registruj se </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* INFO (Prijavljen korisnik - odjava) ****************************************************** *@
<div class="container hidden" id="info">
    <div class="row">
        <div class="form-group">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="col-sm-8">
                <label>Prijavljeni korisnik: </label>
                <span id="prijavljen"></span>
            </div>
            <div class="col-sm-4">
                <div>
                    <button class="btn btn-warning" id="odjava"> Odjava </button>
                </div>
            </div>
        </div>
    </div>
</div>

@* PRETRAGA  ******************************************************************* *@
<div class="container hidden" id="pretraga">
    <div class="row">
        <div class="form-group">
            <h2 class="text-center">Pretraga po utakmicama</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <form method="post" action="post/" class="form-horizontal " id="formPretraga">
                <div class="form-group ">
                    <label for="start" class="col-sm-2 control-label">Od: </label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="start" min="0" max="99999" required />
                    </div>
                    <label for="kraj" class="col-sm-2 control-label">Do: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="number" id="kraj" min="0" max="99999" required />
                    </div>
                    <div class="col-sm-2 center-block">
                        <button type="submit" class="btn btn-default"> Pretraga </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* TABLE ************************************************************************* *@
<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <h2 class="text-center">Fudbaleri</h2>
            <table class="table table-bordered table-hover text-center" id="table1">
                <thead>
                    <tr class="warning">
                        <th class="text-center">Ime i prezime</th>
                        <th class="text-center">Rodjenje</th>
                        <th class="text-center">Utakmice</th>
                        <th class="text-center">Reprezentacija</th>
                        <th class="text-center">Titule</th>
                        <th class="text-center showHide hidden">Brisanje</th>
                        <th class="text-center showHide hidden">Izmena</th>
                    </tr>
                </thead>
                <tbody id="tableData1">
                    @*<tr>
                            <td>naziv1</td>
                            <td>mesto1</td>
                            <td>godina1</td>
                            <td>cena1</td>
                        </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>

@* DODAVANJE / IZMENA  ************************************************************* *@
<div class="container hidden" id="dodavanje">
    <div class="row">
        <div class="form-group">
            <h2 class="text-center">Izmena fudbalera</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <form method="post" action="post/" class="form-horizontal " id="addEditForm">
                <div class="form-group">
                    <label for="sel1" class="col-sm-5 control-label">Reprezentacija: </label>
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-6">
                        <select class="form-control" id="sel1">
                            @*<option value="test">Test</option>*@
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="naziv" class="col-sm-5 control-label">Ime i prezime: </label>
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="itemName" maxlength="40" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="godine" class="col-sm-5 control-label">Godina rodjenja: </label>
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" type="number" id="itemDate" min="1976" max="2000" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="cena" class="col-sm-5 control-label">Broj utakmica za reprezentaciju: </label>
                    <div class="col-sm-3">

                    </div>
                    <div class=" col-sm-4">
                        <input class="form-control" type="number" id="itemPrice" step="1" min="1" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-3 center-block">
                        <button type="submit" class="btn btn-default" id="btnAdd"> Izmena </button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-default btn-warning" id="btnQuit"> Odustajanje </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
